.sideBar {
  background-color: white;
  color: black;
  position: fixed;
  height: calc(100vh - 4.59rem);
  overflow-y: auto;
  margin-top: 4.59rem;
  margin-bottom: 20px;
  border-right: 1px solid rgb(216, 216, 216);
}

.iconText {
  margin: 4px 0px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.blueLeft {
  width: 5px;
  border-radius: 0px 10px 10px 0px;
  background-color: rgba(15, 15, 226, 0.7);
}
.blueContainer {
  background-color:rgba(15, 15, 226, 0.7) ;
  display: flex;
  color: white;
  
  width: 100%;
  border-radius: 8px;
  margin: 0px 20px;

  flex-direction: row;
}
.greyContainer {
  display: flex;
  color: black;
  width: 100%;
  border-radius: 8px;
  margin: 0px 20px;

  flex-direction: row;
}
